---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';



try 
{
	
} 
catch (error) 
{
  console.error(error);
  
}


---

<Layout title="MICHAMP SWAT API V1 Template">
		<main>
	
<div class="drawer">
  <input id="template-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar bg-base-300 w-full fixed z-30">
      <div class="flex-none ">
        <label for="template-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <div class="mx-2 flex-1 px-2 text-white"> </div>
      
      <div class=" flex-none ">
        <a href="/login" class="px-4 py-2 block text-gray-100 hover:bg-gray-800 no-underline hover:no-underline tooltip tooltip-left" data-tip="login"><Icon name="carbon:login" class="text-2xl" /></a>
        
        
        
      </div>
    </div>
    
    
    
	<div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal items-center justify-center">
		   
		<div class="mt-10">
		<h1 class="font-bold uppercase text-2xl text-primary mt-20 ml-10 mb-5">MICHAMP SWAT API V1 Template</h1>
    	<p class="text-xl text-white mt-10 ml-10 mb-5">MICHAMP SWAT (Security Warnings Aggregated Technology) improves access to critical data and information provided by the United States government, 
    		foreign governments and international law enforcement organizations. Currently MICHAMP SWAT offers access to the FBI top ten most wanted data set and FBI in News
    		news feed. The data displayed in this template static and should not to be considered the current listing of fugitives being sought by the 
    		FBI. MICHAMP SWAT has an API which monitors the FBI's data services and updates the current fugitve listing hourly. 
    		You can find it at <a href="https://rapidapi.com/michamp/api/michamp-swat" target="_blank">MICHAMP SWAT API</a>
    		
    	 	This is a starter Astro template to aid in setting up a admin dashboard web app  </p>
    	
		<h3 class="font-bold uppercase text-2xl text-white mt-20 ml-10 mb-5"></h3>
    	<p class="text-xl text-white mt-10 ml-10 mb-5">This is a starter Astro template to aid in setting up a admin dashboard web app.</p>
    	
		</div>
    
    	<div>
		<h1 class="font-bold uppercase text-2xl text-primary mt-10 ml-10 mb-2">Features</h1>
		</div>
    	<div class="grid grid-cols-1 md:grid-cols-2 gap-6 ml-10">
	    	<div class="card bg-base-100 w-96 shadow-xl text-white">
			  <div class="card-body">
			    <h2 class="card-title">Astro</h2>
			    <p>Built on Astro's super fast, easy to setup, content driven framework. Astro is a static site generation 
			    tool. It comes with a means to quickly build content driven websites. You can use markdown to build a full blog website or 
			    integrate with multiple UI frameworks like React,Preact, Lit and others (<a class="font-bold" href="https://docs.astro.build/en/getting-started/">Getting Started</a>) 
			    </p>
			    <div class="card-actions justify-end">
			      <a class="btn btn-primary" href="https://astro.build/" target="_blank">Docs</a>
			    </div>
			  </div>
			</div>
			
			<div class="card bg-base-100 w-96 shadow-xl text-white">
			  <div class="card-body">
			    <h2 class="card-title">Tailwind CSS</h2>
			    <p>Tailwind is a mature CSS framework, battle tested and very comprehensive CSS library.</p>
			    <ul class="list-disc">
			    	<li>Great Layout options </li>
			    	<li>Professional look and feel</li>
			    	<li>Responsively Design </li>
			    	<li>Very Widely Used</li>
			    	<li>Great Docs</li>
			    </ul>
			    <div class="card-actions justify-end">
			      <a class="btn btn-primary" href="https://tailwindcss.com/" target="_blank">Docs</a>
			    </div>
			  </div>
			</div>
			
			<div class="card bg-base-100 w-96 shadow-xl text-white">
			  <div class="card-body">
			    <h2 class="card-title">DaisyUI</h2>
			    <p>DaisyUI is a user interface framework built on Tailwinds.</p>
			    <ul class="list-disc">
			    	<li>Clean Components & Code</li>
			    	<li>Well Documented</li>
			    	<li>Widely Used</li>
			    </ul>
			    <div class="card-actions justify-end">
			      <a class="btn btn-primary" href="https://daisyui.com/" target="_blank">Docs</a>
			    </div>
			  </div>
			</div>
			
			<div class="card bg-base-100 w-96 shadow-xl text-white">
			  <div class="card-body">
			    <h2 class="card-title">Astro Icon</h2>
			    <p>Astro Icon is already integrated into this template. Access to thousands of icons via
			    the <a href="https://icon-sets.iconify.design/">Iconify's</a> large set of icons.</p>
			    
			    <div class="card-actions justify-end">
			      <a class="btn btn-primary" href="https://www.astroicon.dev/" target="_blank">Docs</a>
			    </div>
			  </div>
			</div>
			
			
    	</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </div>
  </div>
  
  <div class="drawer-side mt-11">
    <label for="template-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
	
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
    	 <li><a href="/"><img class="size-16" src="/logo.png" /></a></li>
		    
	    <details class="dropdown mb-3">
		 <summary class="btn text-lg">Pages<Icon name="carbon:caret-down" class="pl-1"/></summary> 
		    <!-- Sidebar content here -->
		    <li><a href="/login"><Icon name="carbon:login" />Login</a></li>
		    <li><a href="/signup"><Icon name="ri:user-3-line" />Sign-up</a></li>
		    <li><a href="/dashboard"><Icon name="carbon:dashboard" />Dashboard</a></li>
	    </details>
	    
	    <details class="dropdown mb-3">
		 <summary class="btn text-lg">Section 1<Icon name="carbon:caret-down" class="pl-1"/></summary> 
		    <!-- Sidebar content here -->
		    <li><a>Sidebar Item 1</a></li>
		    <li><a>Sidebar Item 2</a></li>
	    </details>
	    
	    <details class="dropdown mb-3">
		 <summary class="btn text-lg">Section 2<Icon name="carbon:caret-down" class="pl-1"/></summary> 
		    <!-- Sidebar content here -->
		    <li><a>Sidebar Item 1</a></li>
		    <li><a>Sidebar Item 2</a></li>
	    </details>
	    
	    <details class="dropdown mb-3">
		 <summary class="btn text-lg">Section 3<Icon name="carbon:caret-down" class="pl-1"/></summary> 
		    <!-- Sidebar content here -->
		    <li><a>Sidebar Item 1</a></li>
		    <li><a>Sidebar Item 2</a></li>
	    </details>
    </ul>

  </div>
</div>

</main>
<script>
		
	   import "../scripts/scripts.js";

</script>
	</Layout>