---
import '@fontsource/sunflower';
import "../tailwind.css"
const {title} = Astro.props;
---

<html lang="en">
  	<head>
    	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/favicon.ico" sizes="48x48">
		
    <title>{title}</title>
  </head>
<body class="bg-black-alt font-sans leading-normal tracking-normal" style={{ fontFamily: 'Sunflower'}}>
    <slot />
    
  </body>
</html>


		


	
